<footer class="footer seccion">

    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a href="/nosotros">Nosotros</a>
            <a href="/contactenos">Contactenos</a>
            <a href="blog.php">Registrese</a>
            <a href="contacto.php">Inicio Session</a>
        </nav>
    </div>

    <p class="copyright">Todos los derechos Reservados {{date}} &copy;</p>
</footer>

<script src="../../static/js/bundle.min.js"></script>
<script src="../../static/js/confirmar_contrasenas.js"></script>
</body>
</html>