{% include './includes/header.html' %}
    <main class="contenedor seccion">
        <div class="contacto"> 
            <div class="contacto_container">
                <picture>
                    <source srcset="https://images.pexels.com/photos/4344860/pexels-photo-4344860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" type="image/jpeg">
                    <img loading="lazy" src=".https://images.pexels.com/photos/4344860/pexels-photo-4344860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen Contacto">
                </picture>
                    <h1>Contactactanos</h1>
                    <h3>Nuestro equipo se pondra en contacto pronto</h3>
                    <form class="formulario_inicio">
                        <input type="text" placeholder="Tu Nombre" id="nombre">                        
                        <input type="email" placeholder="Tu Email" id="email">            
                        <input type="tel" placeholder="Tu Teléfono" id="telefono">            
                        <textarea id="mensaje"></textarea>
            </div>
        </div>
    </main>

{% include './includes/footer.html' %}