{% include './includes/header.html' %}

<main class="contenedor seccion">
    <h1>Más Sobre Nosotros</h1>

    <div class="iconos-nosotros">
        <div class="icono">
            <img src="../static/images/seguridad.svg" alt="Icono seguridad" loading="lazy">
            <h3>Seguridad</h3>
            <p>Nuestro gestor de planillas y nóminas garantiza máxima seguridad, protegiendo datos con avanzadas técnicas de encriptación y almacenamiento seguro en bases de datos.</p>
        </div>
        <div class="icono">
            <img src="../static/images/price.svg" alt="Icono Precio" loading="lazy">
            <h3>Precio</h3>
            <p>Nuestro servicio ofrece precios competitivos, asegurando una excelente relación calidad-precio y accesibilidad diseñada específicamente para PYMES y empresas medianas.</p>
        </div>
        <div class="icono">
            <img src="../static/images/effectivinesssvg.svg" alt="Icono Tiempo" loading="lazy">
            <h3>Efectividad</h3>
            <p>Garantizamos una gestión eficaz de planillas y nóminas en solo unos clics. Nuestra plataforma simplifica procesos complejos, asegurando precisión y cumplimiento normativo.</p>
        </div>
    </div>
</main>

<section class="seccion contenedor">
    <h2>Nuestros Servicios</h2>
    <div class="contenedor-anuncios">
        <div class="anuncio">
            <picture>
                <source srcset="https://images.pexels.com/photos/6693661/pexels-photo-6693661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" type="image/jpeg">
                <img loading="lazy" src="https://images.pexels.com/photos/6693661/pexels-photo-6693661.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="servicio">
            </picture>

            <div class="contenido-anuncio">
                <h3>Cálculo de Nómina</h3>
                <p>Calculamos las deducciones y salario neto de sus trabajadores incluyendo aportes patronales y del empleado según las leyes de Costa Rica en base de las horas laboradas</p>
                <!-- <p class="precio">$3,0000,000</p> -->
                <a href="anuncio.html" class="boton-amarillo-block">
                    More Info...
                </a>
            </div>
        </div>

        <div class="anuncio">
            <picture>
                <source srcset="https://images.pexels.com/photos/6694480/pexels-photo-6694480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" type="image/jpeg">
                <img loading="lazy" src="https://images.pexels.com/photos/6694480/pexels-photo-6694480.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="servicio">
            </picture>

            <div class="contenido-anuncio">
                <h3>Generación de Reportes</h3>
                <p>Generamos un reporte mensual en PDF para cada empleado
                    con los detalles de su pago y un reporte para el empleador con el total a pagar
                    según las obligaciones gubernamentales</p>
                <!-- <p class="precio">$3,0000,000</p> -->
                <a href="anuncio.html" class="boton-amarillo-block">
                    More info...
                </a>
            </div>
        </div>

        <div class="anuncio">
            <picture>
                <source srcset="https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" type="image/jpeg">
                <img loading="lazy" src="https://images.pexels.com/photos/1015568/pexels-photo-1015568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="anuncio">
            </picture>

            <div class="contenido-anuncio">
                <h3>Envio de E-mails</h3>
                <p>Enviamos los reportes en PDF por correo electrónico a los empleados y al empleador, incluimos análisis detallados y gráficos relevantes en los reportes.</p>
                <!-- <p class="precio">$3,0000,000</p> -->

                <a href="anuncio.html" class="boton-amarillo-block">
                    More info...
                </a>
            </div>
        </div>
    </div>
</section>

<section class="imagen-contacto">
    <h2>El gestor de planilla pensado para tu empresa</h2>
    <p>Llena el formulario de contacto y un asesor se pondrá en contacto contigo a la brevedad</p>
    <a href="contacto.html" class="boton-amarillo">Contactános</a>
</section>

<div class="contenedor seccion seccion-inferior">
    <section class="blog">
        <h3>Nuestro Blog</h3>

        <article class="entrada-blog">
            <div class="imagen">
                <picture>
                    <source srcset="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" type="image/jpeg">
                    <img loading="lazy" src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=Texto Entrada Blog">
                </picture>
            </div>

            <div class="texto-entrada">
                <a href="/entrada">
                    <h4>Comunicación Profesional</h4>
                    <p class="informacion-meta">Escrito el: <span>16/07/2024</span> por: <span>Kevin Santana</span> </p>

                    <p>
                        Ensayo sobre Comunicación Profesional enfocada en el contexto de la ingenieria en sistemas
                    </p>
                </a>
            </div>
        </article>
    </section>

    <section class="testimoniales">
        <h3>Testimoniales</h3>

        <div class="testimonial">
            <blockquote>
                El personal se comportó de una excelente forma, muy buena atención y el servicio que me ofrecieron cumple
                con todas mis expectativas.
            </blockquote>
            <p>- Jose Navas</p>
        </div>
    </section>
</div>

{% include './includes/footer.html' %}