{% include './includes/header.html' %}
<main class="contenedor seccion iniciar">

    <div class="inicio_session">

        <div class="inicio_session_container">
            <h1>Iniciar Sesión</h1>
            <form action="/login" method="post" class="formulario_inicio">
                <input type="email" placeholder="Tu Email" id="email" name="email">
                <input type="password" placeholder="Tu Contrasena" id="contrasena" name="contrasena">
                <input type="submit" value="Inicio" class="boton-verde">
                <h5 class="h2_error">Correo o contraseña inválida</h5>
                <a href="/" class="contrasena_olvidada">¿Olvidaste tu contraseña?</a>
            </form>

        </div>

        <div class="otras_opciones">
            <a href="/registrese" >Crear una cuentra nueva</a>
        </div>
    </div>
</main>

{% include './includes/footer.html' %}