{% include './includes/header.html' %}

<main class="contenedor seccion">
    <h1>Conoce sobre Nosotros</h1>

    <div class="contenido-nosotros">
        <div class="imagen">
            <picture>
                <source srcset="../static/images/nosotros.jpg" type="image/jpeg">
                <img loading="lazy" src="../static/images/nosotros.jpg" alt="Sobre Nosotros">
            </picture>
        </div>

        <div class="texto-nosotros">
            <blockquote>
                5 Años de experiencia
            </blockquote>
            <p>Planilla Plus es la herramienta de gestión de planillas más grande de Costa Rica, con 5 años de experiencia en el mercado hemos ayudades a innumerables emprendedores al llevar a cabo sus sueños. Conocidos por nuestro increíble soporte técnico, Planilla Plus surgió como un proyecto universitario orientado a las pymes por cuatro estudiantes. Durante estos años, hemos tenidos numerosos casos de exito de empresas que han optimizado sus procesos de nómina, garantizando precisión y eficiencia con nostros. Nuestra meta es ofrecer soluciones adaptadas a las necesidades específicas de cada cliente, permitiendo un manejo fácil y efectivo de las planillas.</p>

            <p>En Planilla Plus, no solo simplificamos la gestión de planillas, sino que también pensamos en el futuro. Innovamos continuamente y escuchamos a nuestros colaboradores para mejorar nuestros servicios y asegurarnos de que cumplimos con las expectativas y necesidades de nuestros clientes. Este enfoque en la mejora constante nos permite ofrecer una herramienta que evoluciona con el tiempo y se adapta a los cambios del mercado.</p>
         </div>
    </div>
</main>


{% include './includes/footer.html' %}