{% include './includes/header.html' %}

<main class="contenedor seccion contenido-centrado">
    <h1>Usuario eliminado exitosamente</h1>
    <h3>Muchas gracias por usar nuestros servicios!</h3>
    <p>No olvide de leer nuestro blog de articulos de opinion</p>
    <article class="entrada-blog">
        <div class="imagen">
            <picture>
                <source srcset="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" type="image/jpeg">
                <img loading="lazy" src="https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Texto Entrada Blog">
            </picture>
        </div>
        
        <div class="texto-entrada">
            <a href="/entrada">
                <h4>Comunicación Profesional</h4>
                <p class="informacion-meta">Escrito el: <span>16/07/2024</span> por: <span>Kevin Santana</span> </p>
                <p>
                    Ensayo sobre Comunicación Profesional enfocada en el contexto de la ingenieria en sistemas
                </p>
            </a>
        </div>
    </article>
</main>
{% include './includes/footer.html' %}